html, body {
    margin: 0;
    height: 100%;
}

body {
  display: grid;
  justify-items: center;
  grid-template-columns: 10% 25% auto 25% 10%;
  grid-template-rows: 25% auto 25%;
  grid-template-areas: 
    "edge-l header header header edge-r"
    "edge-l sidebar-l main sidebar-r edge-r"
    "edge-l footer footer footer edge-r"
}

#header {
  text-align: center;
  grid-area: header;
}


#move-controls {
  width: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "top-l top-m top-r"
    "center-l center-m center-r"
    "bottom-l bottom-m bottom-r"
}

#forward {
  grid-area: top-m;
}

#reverse {
  grid-area: bottom-m;
}

#left {
  grid-area: center-l;
}

#right {
  grid-area: center-r;
}

#stop {
  grid-area: center-m;
}

#emote-controlls {
  grid-area: sidebar-l;
}

#dance {
  height: 3em;
  width: 6em;
}

button {
  border-radius: 30px;
  border: 2px solid black;
  width: 90%;
  height: 90%;
}

button:active {
  background-color: red;
}


