<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/main.js"></script>
</head>
<body>
  <section id="header">
    <h1>Robert!</h1>
    <h4>He's a robot</p>
  </section>

  <button id="dance">Dance</button>
  <section id="move-controls">
    <button class="direction-button" id="forward">Forward</button>
    <button class="direction-button" id="right">Right</button>
    <button class="direction-button" id="reverse">Reverse</button>
    <button class="direction-button" id="left">Left</button>
    <button class="direction-button" id="stop">Stop</button>
  </section>
</body>